<section id="footer">
  <div class="container flexbox flexJustify">
    <div class="west-copyright">
      <p><a href="/submissions" class="logo"><img src="../../images/west_footer_logo.jpg"></a>West Corporation is a global provider of communication and network infrastructure services. West helps its clients more effectively communicate, collaborate and connect with their audiences through a diverse portfolio of solutions that include unified communications services, safety services, interactive services such as automated notifications, telecom services and specialty agent services. <br />
      For 30 years, West has provided reliable, high-quality, voice and data services. West has sales and operations in the United States, Canada, Europe, the Middle East, Asia Pacific and Latin America. For more information, please call 1-800-841-9000.</p>
    </div>
    <div class="footer-bottom">
      <p>&copy; West Corporation. All Rights Reserved. <a href="https://www.west.com/legal-privacy/" target="_blank">Legal &amp; Privacy</a> | <a href="/submissions/blog/">Blog</a> | <a href="about/news/">Corporate News</a> | <a href="contact/">Contact</a></p>
    </div>
  </div><!-- end footer container -->
</section><!-- end footer -->

</body>
</html>