<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <section id="header">
    <div class="container flexbox flexJustify">
      <div id="logo">
        <a href="https://www.televox.com"><img src="../public/images/west_logo.png"></a>
      </div><!-- end logo -->
    </div><!-- end header container -->
  </section><!-- end header -->
  <section class="pageTitle">
    <div class="container">
      <h1><%= title %></h1>
    </div><!-- end pageTitle container -->
  </section><!-- end pageTitle -->

  <div id="content">
    <div class="container">
      <p>Click <a href="./">here</a> to return to the main page.</p>
    </div>
  </div>

</body>
</html>
